ul{
    color:white;
    list-style: none;
}
ul.friends{
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li.image img{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-top: 15px;
    object-fit: contain; 
}

ul li{    
    margin-top: 15px;
    font-size: 14px;
    color: #cac2c2;
}
h3{
    color:white;
    margin-left: 10px;
}
